body {
  margin: 0;
}

.main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr 2fr;
  place-items: center;
  background-color: aqua;
  box-sizing: border-box;
}

.createQuestion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.questionTypes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.createSection {
  display: flex;
  width: 100vw;
  flex-direction: row;
  background-color: aliceblue;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.displaySection {
  box-sizing: border-box;
  background-color: aliceblue;
}
